<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1">
        <title>Kanal Informasi IF20 UNS</title>
        <link rel="stylesheet" href="lib/spectre.min.css">
        <link rel="stylesheet" href="lib/spectre-icons.min.css">
        <link rel="stylesheet" href="styles.css">
        <script src="lib/vue.min.js"></script>
        <script src="lib/marked.min.js"></script>
        <script src="jarkoman.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div id="app" style="min-height: 100vh; display: flex; flex-direction: column">
            <div style="flex: 1 0 auto">
                <header class="bg-primary" style="padding: 1rem">
                    <h3>Portal Informasi</h3>
                    <h5>Informatika UNS Angkatan 2020</h5>
                </header>
                <div class="container grid-xl" style="margin-top: 1.5rem; margin-bottom: 1.5rem">
                    <ul class="nav" style="margin-bottom: 1rem">
                        <li v-for="(category, id) in categories">
                            <b>{{ category }}</b>
                            <ul class="nav" v-if="informations[category] !== null">
                                <li v-for="information in informations[category]" class="nav-item" v-bind:class="[information === selectedInformation ? 'active' : '']">
                                    <a href="#!" v-on:click="selectedInformation = information">{{ information.title }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div v-if="selectedInformation !== null">
                        <h5>{{ selectedInformation.category }} / {{ selectedInformation.title }}</h5>
                        <div class="columns" style="margin-bottom: 1rem">
                            <div v-for="item in selectedInformation.items" class="column col-6 col-md-12" style="margin-bottom: 1rem">
                                <div class="card" style="height: 100%">
                                    <div class="card-body" v-html="marked(item)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="selectedInformation === null" class="empty">
                        <div class="empty-icon"><i class="icon icon-4x icon-message"></i></div>
                        <p class="empty-title h5">Pilih Informasi</p>
                        <p class="empty-subtitle">Silakan untuk memilih salah satu informasi menggunakan menu di atas</p>
                    </div>
                </div>
            </div>
            <footer class="bg-dark text-center" style="padding: 0.5rem">
                <div>Copyright &copy; Informatika 2020 UNS</div>
            </footer>
        </div>
    </body>
</html>
